a {
  text-decoration: none;
}

.mobile-nav-bar {
  background-color: #1779ba;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c3e5f;
  font-size: 0.8125rem;
  padding: 0.907rem 1rem;
}

.mobile-nav-bar .title-bar-text {
  color: #fefefe;
  font-size:xx-large;
  font-family: sans-serif;
}

.mobile-nav-bar .title-bar-left {
  flex-grow: 1;
}

.mobile-nav-bar .title-bar-center {
  flex-grow: 2;
  text-align: center;
}

.mobile-nav-bar .title-bar-right {
  flex-grow: 1;
  text-align: right;
}




.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #115b8d;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}





.mobile-bottom-bar {
  width: 100%;
  height: 3.778rem;
  background: #1779ba;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-bottom-bar .footer-link {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  color: #0c3e5f;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
  opacity: 0.8;
  margin-right: 0.625rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
  color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
  position: relative;
  top: 2px;
  font-weight: bold;
  font-size: 0.875rem;
  color: #0c3e5f;
}

#map { height: 180px; }
